@use "mixins/mixins.scss" as *;
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include b(icon) {
  display: inline-flex;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  svg.loading {
    animation: loading 1s linear infinite;
  }
}
