@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(input) {
  position: relative;
  font-size: 14px;
  display: inline-flex;
  line-height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  @include when(disabled) {
    cursor: not-allowed;
    .#{$namespace}-input__wrapper {
      background-color: #f5f7fa;
      box-shadow: 0px 0px 0px #e4e7ed inset;
    }
    .#{$namespace}-input__inner {
      color: #a8abb2;
      -webkit-text-fill-color: #a8abb2;
      cursor: not-allowed;
    }
  }
  @include e(wrapper) {
    &:hover {
      box-shadow: 0 0 0 1px #c0c4cc inset;
    }
    border: 1px solid #dcdfe6;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1px 11px;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    cursor: text;
    transition: box-shadow 0.2s;
    transform: translateZ(0);
    @include when(focus) {
      box-shadow: 0 0 0 1px #409eff inset;
    }
  }
  @include e(inner) {
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: #606266;
    font-size: inherit;
    height: calc(32px - 2px);
    line-height: calc(32px - 2px);
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
  }
  @include e(suffix) {
    display: inline-flex;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 100%;
    text-align: center;
    color: #a8abb2;
    transition: all 0.3s;
    pointer-events: none;
    padding: 0 0 0 4px;

    @include m(inner) {
      pointer-events: all;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
