@use "mixins/mixins.scss" as *;
@include b(vl) {
  overflow-y: scroll;
  border: 1px solid #333333;
  position: relative;
  @include e("scroll-list") {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
